<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alcabone.gesturegallery">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activities.GridActivity"
            android:theme="@style/GalleryTheme"/>
        <activity
            android:name=".activities.GalleryActivity"
            android:theme="@style/GalleryTheme"/>
    </application>

</manifest>